<% include partials/header %>

<div class="container">
    <div class="row">
        <div style="width:40%; margin:35px auto;">
            <h1 style="text-align:center;">Forgot Password</h1>
            <form action="/forgot" method="POST">
                <div class="form-group">
                    <label for="username">Email :</label>
                    <input type="email" name="email" autofocus class="form-control" placeholder="Enter Your Email">
                </div>
                <div class="form-group">
                    <input type="submit" value="Reset Password" class="btn btn-primary btn-lg btn-block">
                </div>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>