.thumbnail img {
    width: 100%;
}

/*.thumbnail {*/
/*    padding: 0;*/
/*}*/

.delete-form {
    display: inline;
    margin-left: 4px;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 4%;
}

#register-lastname {
    padding-left: 0;
}

#search-btn {
    border-radius: 0 .25em .25em 0;
}


.myimg {
    max-height: 600px;
    overflow: hidden;
}

.myimg img{
    height: auto;
    width: 100%;
}

.hline {
    border: 0.5px solid #e8e8e8;
}

.time {
    margin-bottom: 0.4rem;
}