.thumbnail img {
    width: 100%;
}

/*.thumbnail {*/
/*    padding: 0;*/
/*}*/

.delete-form {
    display: inline;
    margin-left: 4px;
}

#map {
    height: 400px;
    width: 100%;
}

#register-lastname {
    padding-left: 0;
}